snippet json "New JSON DevTool Block" b
    {
        "name": "",
        "link": "",
        "description":"",
        "careers_page": "",
        "category": "",
        "mode":"proprietary",
        "socials": {
            "twitter": "https://twitter.com/archbeehq",
            "linkedin": "https://linkedin.com/company/archbee"
        }
    }
endsnippet
